
:root {
  --primary-color: #EE0202;
  --app-background-color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --title-color: #414141;
  --secondary-background: #F9F9F9;
  --light-gray-background: #E4E4E4;
  --red: #F93535;
  --fadded-red: #F935351A;
  --green: #34C759;
  --fadded-green: #F0FEED;
  --fadded-icon: #D8D8D8;
  --fadded-border: #AFAFAF;
  --card-bg: #FAFAFA;
  --action-text-color: #727272;
  --modal-fadded-background: #00000070;
  --modal-background: #F2F2F2;
  --secondary-text-color: #979797;
  --gray-icon: #85878D;
}


thead tr {
  background-color: var(--secondary-background);
} 
thead tr th,
tbody tr td {
  border-top: 1.5px solid var(--light-gray-background);
  border-bottom: 1.5px solid var(--light-gray-background);
} 
tbody tr:hover {
  background-color: var(--secondary-background);
} 
tr td:first-child,
tr th:first-child {
  border-left: 1.5px solid var(--light-gray-background);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td:last-child,
tr th:last-child  {
  border-right: 1.5px solid var(--light-gray-background);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-center{
  display: flex;
  justify-content: center;
  align-items: center;
}